@font-face {
    font-family: 'B koodak Bold';
    src: url("../fonts/B-Koodak-Bold.ttf") format('truetype');
}

@font-face {
    font-family: 'Calibri';
    src: url('../fonts/Calibri-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Calibri';
    font-weight: bold;
    src: url('../fonts/Calibri-Bold.ttf') format('truetype');
}

* {
    font-family: 'B koodak Bold', Calibri !important;
    font-weight: bold !important;
}

body {
    margin: 0 !important
}

svg {
    margin-bottom: 0;
}

#app {
    height: 100vh;
    /*width: 100vw;*/
    position: relative;
}

.ltr {
    direction: ltr !important;
}

.rtl {
    direction: rtl !important;
}

.text-en, .text-en * {
    font-family: Calibri !important;
}

.font-regular, .font-regular * {
    font-weight: normal !important;
}

.btn.no-shadow:focus {
    box-shadow: none !important;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    transition: 0.5s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-8px, 7px);
    transform: rotate(-45deg) translate(-7px, 7px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -6px);
    transform: rotate(45deg) translate(-6px, -6px);
}

.slide-d-none {
    display: none;
}

.cursor-pointer:hover {
    cursor: pointer;
}

.music-bars {
    width: 10px;
    height: 5px;
    margin-left: 2px;
    margin-left: 2px;
}

.playing .music-animation {
    animation-name: music-bar;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.music-bar-1 {
    animation-delay: .5s /*0s*/;
}

.music-bar-2 {
    animation-delay: 1.5s /*.5s*/;
}

.music-bar-3 {
    animation-delay: 0s /*1s*/;
}

.music-bar-4 {
    animation-delay: 1s /*1.5s*/;
}

@keyframes music-bar {
    from {
        height: 5px;
    }

    to {
        height: 25px;
    }
}

.pulse {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    transform: scale(1);
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

.animated-form-group {
    position: relative;
    border: 3px solid #9b9b9b;
    transition: border-color 0.4s;
}

    .animated-form-group:focus-within {
        border-color: var(--bs-dark) !important;
    }

.animated-form-input {
    font-family: inherit;
    width: 100%;
    border: 0px;
    /*    border-bottom: 2px solid #9b9b9b;*/
    outline: 0;
    font-size: 1.2rem;
    /*    color: #fff;*/
    background: transparent;
}

    /*   .animated-form-input::placeholder {
        color: transparent;
    }*/

    .animated-form-input:placeholder-shown ~ .animated-form-label, div.animated-form-input:empty ~ .animated-form-label {
        font-size: 1.1rem;
        cursor: text;
        top: 11px;
    }

.animated-form-label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.4s;
    font-size: .9rem;
    user-select: none;
    /*    color: #9b9b9b ;*/
}

.animated-form-input:focus ~ .animated-form-label {
    position: absolute !important;
    top: -1px !important;
    display: block !important;
    transition: 0.4s !important;
    font-size: .9rem !important;
    /*    font-weight: 700;*/
}

.animated-form-input:not(:focus) ~ .animated-form-label {
    color: #9b9b9b !important;
}

.btn-temp {
    border-color: #9b9b9b !important;
    color: #9b9b9b !important;
}

    .btn-temp.btn-outline-dark:hover {
        border-color: var(--bs-dark) !important;
        color: #fff !important;
    }

.text-wrap-none {
    /* word-break: keep-all;*/
    /*text-wrap: none;*/
    white-space: nowrap;
}

@media (min-width: 768px) { /*md */
    #mobile-menu {
        width: 74px !important;
    }

    img[role="profile-image"] {
        width: 50%;
    }

    .h-md-100 {
        height: 100% !important;
    }

    .rounded-md-0 {
        border-radius: 0 !important;
    }

    .w-md-auto {
        width: auto !important;
    }

    .w-md-100 {
        width: 100% !important;
    }

    .bg-md-transparent {
        background-color: transparent !important;
    }
}

@media (min-width: 992px) { /* lg */
    img[role="profile-image"] {
        max-width: 35%;
    }
}

@media (min-width: 1400px) { /* lg */
    img[role="profile-image"] {
        max-width: 25%;
    }
}

.container {
    max-width: 100%;
}

.ant-rate-star.ant-rate-star-full, .ant-rate-star.ant-rate-star-half.ant-rate-star-active {
    color: var(--bs-warning) !important;
}

.ant-rate-star.ant-rate-star-zero .ant-rate-star-first, .ant-rate-star-second {
    color: var(--bs-secondary);
}

.rtl .ant-notification-notice-close {
    left: 22px !important;
    right: auto !important;
}

.rtl .ant-notification-notice-with-icon .ant-notification-notice-message {
    margin-left: auto !important;
    margin-right: 48px !important;
}

.rtl .ant-notification-notice-message {
    padding-left: 24px !important;
    padding-right: 0 !important;
}

.rtl .ant-notification-notice-description {
    margin-left: auto !important;
    margin-right: 48px !important;
}