@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'IranSans';
    src: url('../fonts/IranSans/fonts/ttf/IRANSansWeb.ttf') format('truetype');
}

@font-face {
    font-family: 'IranSans';
    font-weight: bold;
    src: url('../fonts/IranSans/fonts/ttf/IRANSansWeb_Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Calibri';
    src: url('../fonts/Calibri-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Calibri';
    font-weight: bold;
    src: url('../fonts/Calibri-Bold.ttf') format('truetype');
}

:root {
    --primary: #0d6efd;
    --secondary: #6c757d;
    --danger: #dc3545;
    --warning: #ffc107;
    --success: #198754;
    --info: #20c997;
    --dark: #343a40;
    --light: #f8f9fa;
    --pink: #d63384;
}

* {
    font-family: 'IranSans', Calibri !important;
    font-weight: bold !important;
    user-select: none;
}

body {
    margin: 0 !important
}

svg {
    margin-bottom: 0;
}

#app {
    height: 100vh;
    /*width: 100vw;*/
    position: relative;
}

.ltr {
    direction: ltr !important;
}

.rtl {
    direction: rtl !important;
}

.text-en,
.text-en * {
    font-family: Calibri !important;
}

.font-regular,
.font-regular * {
    font-weight: normal !important;
}

.btn.no-shadow:focus {
    box-shadow: none !important;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    transition: 0.5s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-8px, 7px);
    transform: rotate(-45deg) translate(-7px, 7px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -6px);
    transform: rotate(45deg) translate(-6px, -6px);
}

.slide-d-none {
    display: none;
}

.cursor-pointer:hover {
    cursor: pointer;
}

.music-bars {
    width: 10px;
    height: 5px;
    margin-left: 2px;
    margin-left: 2px;
}

.playing .music-animation {
    animation-name: music-bar;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.music-bar-1 {
    animation-delay: .5s
    /*0s*/
    ;
}

.music-bar-2 {
    animation-delay: 1.5s
    /*.5s*/
    ;
}

.music-bar-3 {
    animation-delay: 0s
    /*1s*/
    ;
}

.music-bar-4 {
    animation-delay: 1s
    /*1.5s*/
    ;
}

@keyframes music-bar {
    from {
        height: 5px;
    }
    to {
        height: 25px;
    }
}

.pulse {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    transform: scale(1);
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

.animated-form-group {
    position: relative;
    border: 3px solid #9b9b9b;
    transition: border-color 0.4s;
}

.animated-form-group:focus-within {
    border-color: var(--bs-dark) !important;
}

.animated-form-input {
    font-family: inherit;
    width: 100%;
    border: 0px;
    /*    border-bottom: 2px solid #9b9b9b;*/
    outline: 0;
    font-size: 1.2rem;
    /*    color: #fff;*/
    background: transparent;
}


/*   .animated-form-input::placeholder {
        color: transparent;
    }*/

.animated-form-input:placeholder-shown~.animated-form-label,
div.animated-form-input:empty~.animated-form-label {
    font-size: 1.1rem;
    cursor: text;
    top: 11px;
}

.animated-form-label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.4s;
    font-size: .9rem;
    user-select: none;
    /*    color: #9b9b9b ;*/
}

.animated-form-input:focus~.animated-form-label {
    position: absolute !important;
    top: -1px !important;
    display: block !important;
    transition: 0.4s !important;
    font-size: .9rem !important;
    /*    font-weight: 700;*/
}

.animated-form-input:not(:focus)~.animated-form-label {
    color: #9b9b9b !important;
}

.btn-temp {
    border-color: #9b9b9b !important;
    color: #9b9b9b !important;
}

.btn-temp.btn-outline-dark:hover {
    border-color: var(--dark) !important;
    color: #fff !important;
}

.text-wrap-none {
    /* word-break: keep-all;*/
    /*text-wrap: none;*/
    white-space: nowrap;
}

@media (min-width: 768px) {
    /*md */
    #mobile-menu {
        width: 74px !important;
    }
}

h4,
.h4 {
    font-size: calc(1.275rem + 0.3vw);
}

h3,
.h3 {
    font-size: calc(1.3rem + 0.6vw);
}

h2,
.h2 {
    font-size: calc(1.325rem + 0.9vw);
}

h1,
.h1 {
    font-size: calc(1.375rem + 1.5vw);
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .btn {
        transition: none;
    }
}

.btn:hover {
    color: #212529;
    text-decoration: none;
}

.btn:focus,
.btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem #44444440;
}

.btn.disabled,
.btn:disabled {
    opacity: 0.65;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

a.btn.disabled,
fieldset:disabled a.btn {
    pointer-events: none;
}

.btn-primary {
    color: #fff;
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-outline-primary {
    color: var(--primary);
    border-color: var(--primary);
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-dark {
    color: #fff;
    background-color: var(--dark);
    border-color: var(--dark);
}

.btn-outline-dark {
    color: var(--dark);
    border-color: var(--dark);
}

.btn-outline-dark:hover {
    color: #fff;
    background-color: var(--dark);
    border-color: var(--dark);
}

.btn-light {
    color: #000;
    background-color: var(--light);
    border-color: var(--light);
}

.btn-outline-light {
    color: var(--light);
    border-color: var(--light);
}

.btn-outline-light:hover {
    color: #000;
    background-color: var(--light);
    border-color: var(--light);
}